
html { font-family: Arial; }
body { padding: 10px 30px; font-family: "Lato", sans-serif;}
h1 { font-size: 1.8em; color: rgb(255, 248, 238); text-shadow: 2px 2px 5px black;}
h2 { font-size: 1.2em; }
h3 { font-size: 1.2em; text-align: center; }
nav { background: black; padding: 5px; }
  nav ul { list-style: none; }
  nav ul li { display: inline; margin-left: 15px; font-weight: bold; }
  nav ul li a { color: white; }
  nav ul li a:visited { color: white; }
  nav ul li a:hover { color: rgb(0, 162, 255); }
a { text-decoration: none; color: blue; }
  a:visited { color:rgb(92, 0, 128); }
  a:hover { color: orange; }

.aligncenter {text-align: center;}
.alignleft {text-align: left;}

P.blocktext {
  margin-left: auto;
  margin-right: auto;
  width: 48em
}

img{
    max-width: 100%;
    min-width: 300px;
    height: auto;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.om {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.info {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 14px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


 /* Pagination links */
 .pagination a {
  color: black;
  float: left;
  padding: 8px 36px;
  text-decoration: none;
  text-align: center;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;} 